.header__email {
  display: block;
  margin: 0 24px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
}

/* 568px */
@media (max-width: 568px) {
  .header__email {
    display: none;
  }
}